img{
	padding-top: 10px;
	margin: 0 auto;
}

.title{
	color: #B10DC9;
	text-align: center;
}

.column{
	text-align: center;
}

.content{
	text-align: center;
}

.desc{
	width:70%;
	text-align: center;
	margin: 0 auto;
}

.tag{
	margin:10px;
}

.showImage{
	max-width:65%;
	max-height:65%;
}

.albumImage{
	width:20%;
}

.newArtist{
	color:#39ff14;
}

.homeImage{
	width:60%;
	margin-left:20%;
}

.center{
	text-align: center;
}

.form{
	margin: 0 auto;